version: '3.4'

services:
  spb-backend:
    image: ${DOCKER_REGISTRY-}spbbackend
    build:
      context: .
      dockerfile: SPB-Backend/Dockerfile

  contacorrente-backend:
    image: ${DOCKER_REGISTRY-}contacorrentebackend
    build:
      context: .
      dockerfile: ContaCorrente-Backend/Dockerfile

