version: '3.4'

services:
  spb-backend:
    image: ${DOCKER_REGISTRY-}spbbackend
    build:
      context: .
      dockerfile: SPB-Backend/Dockerfile
    environment:
      ContaCorrenteHost: "contacorrente-backend"
    ports:
      - "16003:80"
      - "16004:443"
    networks:
      - NetworkContaCorrente
    depends_on: 
      - contacorrente-backend
    

  contacorrente-backend:
    image: ${DOCKER_REGISTRY-}contacorrentebackend
    build:
      context: .
      dockerfile: ContaCorrente-Backend/Dockerfile
    environment:
      DbHost: "ContaCorrente-Db"
      DbPort: "1433"
      DbUser: "SA"
      Password: "ToroDB123"
      Database: "Toro"
    ports:
      - "16001:80"
      - "16002:443"
    networks:
      - NetworkContaCorrente
    depends_on: 
      - ContaCorrente-Db

  ContaCorrente-Db:
    container_name: ContaCorrente-Db
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    environment:
      SA_PASSWORD: "ToroDB123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - NetworkContaCorrente

networks: 
    NetworkContaCorrente:
      driver: bridge
    NetworkSPB:
      driver: bridge